body {
    font-family: sans-serif;
}

#shapeContainer {
    background-color: lightskyblue;
    height: 600px;
    width: 600px;
    float: left;
}

#sidePanel {
    float: left;
    padding: 10px;
}

#input-wrapper {
    float: left;
    padding: 10px;
}

input {
    display: block;
    margin-bottom: 5px;
}

.square {
    background-color: red;
    position: absolute;
}

.rectangle {
    background-color: green;
    position: absolute;
}

.triangle {
    position: absolute;
}
 
.circle {
    background-color: purple;
    position: absolute;
}